@model IEnumerable<Biblio.Web.DATA.Penalizacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPenalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Retraso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dias_Retraso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto_Penalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_Penalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metodo_Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreacionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioElimino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaElimino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPenalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLibro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Retraso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dias_Retraso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto_Penalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Penalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metodo_Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCreacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioElimino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaElimino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
